.game{
    width:500px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.head{
    text-align: center;
    font-size: 40px;
    margin: auto;
    padding: 20px;
    background-color:mediumvioletred;
    color:aliceblue;
}
.head span{
    color:black;
}
.square{
    margin: 3px;
    width:160px;
    height: 160px;
    float: left;
    background-color:mediumvioletred ;
    color: white;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square:hover{
    background-color: black;
}

